:root {
    --drop-shadow-color: #f3dbc2;
    --topbar-item-color: #947e6a;
    --main-bg-color: #fff7e4;
    --main-text-color: #bba280;
    --secondary-bg-color: #fff3df;
    --label-color: #dec1a6;
    --accent-color: #e0c49e;
    --input-bg-color: #f4e5cc;
    --input-accent-color: #d1b48b;
    --input-alt-color: #f4edcf;
    --input-highlight-color: #7ee988;
    --input-highlight-color-2: #00ccff;
    --input-highlight-color-3: #ea5353;
    --input-highlight-text-color: #ffffff;
}