:root {
    --drop-shadow-color: #ffd9e8;
    --topbar-item-color: #ffffff;
    --main-bg-color: #ffffff;
    --main-text-color: #edafc6;
    --secondary-bg-color: #fdf2f8;
    --label-color: #ffbad4;
    --accent-color: #ffbedb;
    --input-bg-color: #ffe9f5;
    --input-accent-color: #f4a8cc;
    --input-alt-color: #fff5fa;
    --input-highlight-color: #7ee988;
    --input-highlight-color-2: #7be5ff;
    --input-highlight-color-3: #fa9052;
    --input-highlight-text-color: #ffffff;
}